$marc: #3187d3;
$primary: rgb(255, 0, 200);
$secondary: rgb(151, 153, 128);
$success: rgb(134, 234, 40);
$info: rgb(55, 231, 231);
$warning: rgb(249, 162, 0);
$danger: rgba(255, 0, 0, 0.715);
$light: #000;
$dark: #fff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.marc-texto{
    color: $marc;
}