@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: rgb(0, 55, 220);
$secondary: rgb(166, 12, 227);
$success: rgb(8, 138, 10);
$info: rgb(55, 175, 231);
$warning: rgb(18, 88, 173);
$danger: rgba(255, 0, 0, 0.715);

